body {
    background-color: #FBEAEB;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 35px;
    text-align: center;
    
}

h3 {
    text-shadow: 2px 2px 6px black;
    
}

ul.nav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: black;
}

ul.nav li {
    float: left;
    border-right: 2px solid white;
}

ul.nav li a {
    display: block;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}

ul.nav li:last-child {
    border-right: none;
}

ul.nav li a:hover {
    background-color: gray;
}

body div.head {
    text-align: center;
}

ul.intro {
    border: 2px solid #2F3C7E;
    border-radius: 5px;
}

ul.books {
    outline-style: dashed;
    outline-color: plum;
}

ul.shows {
    outline-style: groove;
    outline-color: burlywood;
    outline-width: 5px;
    outline-offset: 1px;
}


input[type=text] {
    border-radius: 4px;
    transition: width ;
}

input[type=text]:focus {
    background-color: whitesmoke;
}

input[type=search] {
    width: 130px;
    margin-top: 12px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    transition: 0.4s ease-in-out;
}

input[type=search]:focus {
    width: 100%;
}


.parallax {
    background-image: url("../sports.jpg");
    opacity: 0.5;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 450px; 
    background-position: center;
}

.parallax2 {
    background-image: url("../music.jpg");
    opacity: 0.5;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 450px; 
    background-position: center;
}

.parallax3 {
    background-image: url("../gym.jpg");
    opacity: 0.5;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 450px; 
    background-position: center;
}

.parallax4 {
    background-image: url("../videogamesjpg.jpg");
    opacity: 0.5;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 450px; 
    background-position: center;
}

th {
    background-color: skyblue;
}

tr:hover {
    background-color: lightgray;
}

#Basketball:hover {
    animation-name: rotate;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

#Volleyball:hover {
    animation-name: rotate;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 390px) and (max-width:844) {
.nav {
    font-size: 100px;
}
.introduction {
    font-size: 10px;
}
}
